<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="LPAPP_Config">
			<section name="client" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="opts" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
	</configSections>
	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
		<compilation defaultLanguage="c#" debug="true" />
		<!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
		<customErrors mode="RemoteOnly" />
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
		<authentication mode="Windows" />
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
	<LPAPP_Config>
		<client>
			<!-- Change this to your store number -->
			<add key="Configfile" value="XXXXXXX" />
			<!-- Change this to the name and location of your certificate file -->
			<add key="Keyfile" value="./XXXXXXX.pem" />
			<add key="Host" value="XXXXXXXXX" />
			<add key="Port" value="1129" />
		</client>
		<opts>
			<!--  Settings for debug log -->
			<!--  Set 'fLog' to false if you don't want any logging -->
			<add key="fLog" value="true" />
			<!--  Set logging level 'logLvl' 
				0 - no logging
				1 - errors
				2 - debug ( errors + addl info )
				3 - trace ( full debug mode with call tracing, produce a lot of output )		 
		-->
			<add key="logLvl" value="1" />
			<!--  Set log file name
			 IMPORTANT: this file must have write access set for
			 IIS default IUSR_XXXXXX/IWAM_XXXXX user accounts.
			 Otherwise no logging will take place  
		-->
			<add key="logFile" value="./lpsend.log" />
		</opts>
	</LPAPP_Config>
</configuration>
